extends temp_layout

block content
	br
	section(class="container about section")
		div(class="section-inner")
			h2(class="heading") What is Learn Labs?
			p(style='text-align:justify') Learn Labs is a creative learning technology and innovation lab,with a vision to promotes creative learning: projects, peers, passion, and play. It ties together learning related research that takes place across different research groups and organizations, develops new technologies for creative learning, and uses the LearnLabs as platform for new conversations about learning.

			p(style='text-align:justify') We are community of Educators, Makers, Scientist and Creative learners, We welcomes you to shape future ready Problem Solvers,Makers, Creative thinkers and responsible citizens.
			
			br
			blockquote
				p Education is something that other people do to you. Learning is something you do for yourself
				span -Joi Ito